/*1440px x 2960px*/

/**{
  border: 1px solid red;
}*/

.App {
  text-align: center;
  border: 15px solid gray;
  background-color: #ece8d9;
  height: 97vh
}

.App-logo {
  animation: App-qlogo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #89d1b4;
  min-height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(18px + 2vmin);
  color: white;
  font-family: 'Poiret One', cursive;
  font-weight: bold;
}

.App-link {
  color: #61dafb;
}

.render-container {
  border: 15px solid #ece8d9;
  background-color: white;

}


/*STARTLOCATIONS*/

.input-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  padding: 15px;
}

/*.input1, .input2, .meet-me {
  width: 200px; !important
  margin: 5px auto;
}*/

input {
    font-family: system-ui;
    font-weight: 300;
    font-size: 14px;
    height: 37px;
    width: 50%;
    background: transparent;
    color: gray;
    appearance: none;
    border: 2px solid rgba(245, 245, 241);
    outline: none;
    border-radius: 37px;
    padding: 0 10px;
    pointer-events: all;
    transition: border .25s ease, width .125s ease .125s;
}

input:focus {
    border: 2px solid #89d1b4;
    width: 55%
}

.meet-me{
font-size: 15px;
margin-bottom: 10px;
background-color: #89d1b4;
color: white;
border-radius: 10px;
width: 100px;
}

.results-list {
border: 2px solid blue;
}

.toggle-view{
  border: 2px solid blue;

}

.results-item{
border: 2px solid pink;
height: 70px;

}

/*DROPDOWN MENU*/

.dropdown {
  border: 2px solid rgba(245, 245, 241);
  margin: 20px;
  border-radius: 37px;
  width: 50%;
  transition: border .25s ease, width .125s ease .125s;
}

.green-border{
  border: 2px solid #89d1b4;
  margin: 20px;
  border-radius: 37px;
  width: 55%;
  transition: border .25s ease, width .125s ease .125s;
}

.dropdown-header{
  margin: 5px;
  color:gray;
}

ul{
  list-style: none;
  text-align: left;
  padding: 0;
  position: relative;
}

li{
  margin: 5px;
  text-align: center;
  color:gray;
}

li:hover{
  background-color: rgba(245, 245, 241)
}


/*MAP*/

.map-container{
  display: flex;
  overflow:hidden;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
